# Herhangi bir yerdeki node_modules klasörlerini yoksay
**/node_modules/

# Ortam Değişkenleri
**/.env
**/.env.local

# Build Çıktıları
**/dist/
**/build/
**/.next/

# IDE Dosyaları
**/.idea/
**/.vscode/
**/.vs/

# Geçici Test Klasörleri ve Çıktıları
/scratch/
*.json
!package.json
!package-lock.json
!tsconfig.json